.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 50, 80, 0.63);
    backdrop-filter: blur(2px);
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.item{
    margin-right: 1em;
    color: #FFF;
    list-style: none;
}


.item a{
    color:#ffffff;
    text-decoration: none;
}


.item a:hover{
    color:#ffffff;
}   

.logo{
    width: 120px;
}
