.register{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #7a5938;
    color: white;
    padding: 10px 2rem;
    font-size: large;
}

.register:hover{
    transform: scale(1.1);

}
