.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    display: flex;
    color: white;
    height: 100%;
}

.card{
    margin: auto;
    background-color: rgba(6, 50, 80, 0.63);
    height: 45vh;
    width: 100vh;
    display: flex;
    padding: 2vh;
    border: 0.5vh solid white;
    border-radius: 2vh;
    box-shadow: 2vh 2vh 5vh rgb(0, 0, 0);
}

.infoIni{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_img{
    display: grid;
    align-items: center;
    justify-content: end;
    width: 100%;
    /* background-color: #999; */
}

.img_book_detail{
    display: grid;
    align-items: end;
    justify-items: end;
    width: 270px;
    margin-right: 2vh;

}

.titulo{
    font-size: 40px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.autor{
    font-size: 30px;
    color: #ccc;
    padding: 10px;
}

.descricao{
    font-size: 20px;
    text-align: justify ;
    padding: 10px;
    margin-bottom: 5vh;
}

.container_buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
}