.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: start;
}

.form_control label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.form_control select{
    width: 520px;
    padding: 5px;
    border-radius: 0;
    border: none;
    background-color: #d4d4d4;
    border-radius: 2vh;
    height: 50px;
    text-align: start;
}

.form_control select option{
    border-radius: 2vh;
}

.form_control input{
    width: 520px;
    padding: 8px;
    border-radius: 0;
    border: none;
    background-color: #d4d4d4;
    border-radius: 2vh;
    height: 30px;
    text-align: start;
}