.form_control{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.form_control label{
    font-size: 1.3rem;
    font-weight: 100;
    color: #b88553;
}

.form_control input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: #c9a581 1px solid;
    color: white;
}

.form_control input::placeholder{
    color: #7B7B7B;
}