.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  flex: 1;
  background-image: url("./Img//livraria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.body h1 {
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  font-size: 5vh;
  text-align: center;
  padding: 2vh 0vh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  z-index: 1;
}

.cards {
  margin-top: 10vh;
  flex: 1;
  bottom: 0;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.body h3 {
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  font-size: 5vh;
  text-align: center;
  padding: 2vh 0vh;
  backdrop-filter: blur(2px);
  top: 0;
}


