.list_book_container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

}

.main {

    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: #0d1b2ab4;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem 1rem 2rem 2rem;
    border: #c9a581 1px solid;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    color: white;

}

.main header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.main header svg {

    font-size: xx-large;
    color: #b88553;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.title h1 {

    font-weight: 100;

}

.bookCase {

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
    max-height: 23rem;
    padding-right: 1rem;
    padding-bottom: 1rem;


}

.bookCase::-webkit-scrollbar {
    width: 8px;
}

.bookCase::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

.bookCase::-webkit-scrollbar-thumb {
    background: #947351;
    border-radius: 10px;
}

.bookCase::-webkit-scrollbar-thumb:hover {
    background: #5f4933;
}

.notBook {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #c9a581;
    padding: 2rem;
    height: 18rem;
    width: 40rem;
    border: 1px #e9b37d79 solid;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    background: #07101ab4;


}

.notBook svg{

    font-size: 5rem;

}

.notBook h2{

    font-weight: 500;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

}